/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}

.main-container {
	max-width: 1140px;
	margin: auto;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.mode-edition {
	display: none;
}

.adminEditMode {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: #000000;
	color: #FFFFFF;
	height:  50px;
	margin-bottom: 38px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.logo-instagram {
	height: 20px;
	width: 20px;
}

.admin-my-project {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
	margin-left: 120px;
	gap: 30px;
	
}

.font-awesome-a {
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	align-items: center;
}



.margin-edit-btn {
	margin-left: 5px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 20px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.liste-nav-login a {
	color: black;
	text-decoration: none;
}

.liste-nav-login a:hover {
	font-weight: bold;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin-top: 139px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Filter Part */

.works-filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
	width: 50%;
}

button {
    font-weight: bold;
    border: 1px solid #1D6154;
    border-radius: 60px;
    font-size: 16px;
    background: white;
    color: #1D6154;
    text-align: center;
    height: 37px;
	width: 100%;
	text-wrap: nowrap;
	font-family: 'Work Sans' ;
	cursor: pointer;
}

/* MODALE */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* flou / assombrissement */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* superpose */
}


.modale {
	position: absolute;
	background: #FFFFFF;
	height: 688px;
	width: 630px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.fa-xmark {
	cursor: pointer;
}

section#portfolio {
	position: relative;
}

.modale h4 {
	font-size: 26px;
	margin-bottom: 30px;
}

i.fa-solid.fa-xmark {
	margin-top: 30px;
    margin-left: 550px;
	margin-bottom: 10px;
	font-size: 17px;
}

.image-wrapper {
	position: relative;
}

.img-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
    width: 70%;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 65px;
}

.modale button {
	font-size: 14px;
	background-color: #1D6154;
	color: #FFFFFF;
	border-radius: 60px;
	padding: 0px 60px;
	margin-top: 40px;

}
.modale img {
	display: block;
	height: auto;
	width: 100%;
	margin-top: 15px;
}

.fa-trash-can{
	position: absolute;
  top: 20px;
  right: 6px;
  background: #000000;
  color: white;
  border: none;
  font-size: 10px;
  width: 17px;
  height: 17px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}


#portfolio h2 {
	text-align: center;
}


section#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 139px;

}
.gallery {
	width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    height: 413px;
    width: 310px;
}

article {
    width: fit-content;
}
#contact {
	width: 35%;
	margin: auto;
	margin-top: 57px;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:15px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	display: flex;
    justify-content: end;
	background-color: #FFFF;
}

footer li {
	margin-right: 100px;
	font-size: 14px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


